html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
    padding: 0;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
#container{
	position: relative;
	width: 100%;
	height: 100%;
}
